.carouselContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  width: 70%;
  left: 15%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 150px;
  z-index: 1;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.slider-control-centerleft button {
  background: none !important;
  font-size: 0 !important;
  background-image: url("../carousel/img/leftBtn.svg") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
.slider-control-centerright button {
  background: none !important;
  font-size: 0 !important;
  background-image: url("../carousel/img/rightBtn.svg") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.slider-control-bottomcenter {
  bottom: 80px !important;
}
.paging-item button {
  background-image: url("../carousel/img/catBtn1.svg") !important;
  background-repeat: no-repeat !important ;
  background-position: center !important;
  padding: 60px !important;
}
