.slaiderWrapper {
  width: 100%;
  height: 1024px;
  position: absolute;
}
.slaiderContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.slaiderText {
  width: 750px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* align-items: flex-start; */
  background: transparent;
  z-index: 4;
  color: #282a3d;
}
.slaiderTitle {
  width: 590px;
  font-style: normal;
  font-weight: normal;
  font-size: 2.625rem;
  line-height: 115.09%;
  color: #282a3d;
  margin-top: 8%;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.slaiderSubtitle {
  width: 416px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 134.09%;
  color: #282a3d;
}
.slaiderBtn button {
  width: 244px;
  height: 48px;
  display: block;
  margin: 15% 5% 5% 0%;
  background-color: #4985ff;
  border-radius: 100px;
  border: 0;
  color: #fff;
  cursor: pointer;
}
.backgroundWrapper {
  display: flex;
  width: 100%;
}
.background {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 30%;
  background-color: #ebebeb;
  border-radius: 0.75rem;
  z-index: 1;
}
.backgroundTwo {
  position: absolute;
  top: 5%;
  left: 15%;
  width: 70%;
  height: 40%;
  background-color: #f6f6f6;
  border-radius: 0.75rem;
  z-index: 2;
}
.slaiderImg img {
  margin-top: 9%;
  margin-left: 50%;
}
.slaiderImg {
  position: absolute;
  top: 0;
  left: 20%;
  width: 60%;
  height: 50%;
  z-index: 3;
  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
}

@media screen and (max-width: 1390px) {
  .slaiderImg img {
    width: 60%;
    margin-left: 40%;
  }
  .slaiderText {
    width: 40%;
  }
  .slaiderTitle {
    width: 90%;
    font-size: 1.8rem;
    padding-top: 10%;
  }
  .slaiderSubtitle {
    width: 80%;
    font-size: 1rem;
  }
  .slaiderBtn button {
    margin-top: 25%;
  }
}

@media screen and (max-width: 625px) {
  .slaiderBtn button {
    width: 100px;
    height: 30px;
    font-size: 0.625rem;
    margin-top: 25%;
  }
  .slaiderWrapper {
    height: 600px;
  }
  .slaiderImg img {
    width: 70%;
    margin-left: 30%;
  }
  .slaiderTitle {
    width: 65%;
    height: 50px;
    font-size: 0.75rem;
    padding-top: 10%;
  }
  .slaiderSubtitle {
    width: 50%;
    font-size: 0.5rem;
  }
  .slider-control-bottomcenter {
    bottom: 0;
    top: 100%;
  }
}
