.newsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsContainer {
  width: 70%;
  left: 15%;
  height: 1024px;
  color: #8d8e8d;
  background: #e5e5e5;
  box-sizing: border-box;
}
.newsTitle {
  font-size: 36px;
  padding: 10px 0 10px 155px;
}
.newsCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
}
