.newsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsContainer {
  flex-direction: column;
  height: 1024px;
  color: #8d8e8d;
  background: #e5e5e5;
  box-sizing: border-box;
}
.newsTitle {
  font-size: 2.25em;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 2.25rem;
  text-align: left;
  color: #8d8e8d;
  padding: 10px 0 10px 5.5%;
}
.newsCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-around;
  padding: 5px;
}
.allNews {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 140px;
  font-weight: 600;
  font-size: 1.25rem;
  color: #4985ff;
  padding-top: 5px;
  margin-left: 45%;
  margin-bottom: 10px;
}
@media screen and (max-width: 500px) {
  .newsTitle {
    padding: 5px 0;
    font-size: 1.5rem;
    margin: auto;
  }
  .allNews {
    margin: auto;
  }
}
