.footerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerContainer {
  flex-direction: column;
  height: 600px;
  color: #fff;
  background: #4985ff;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  box-sizing: border-box;
}
.footerImg {
  width: 100%;
  height: 200px;
  padding-left: 10%;
  background-color: #fff;
}
.footerText {
  display: flex;
  flex-direction: row;
  height: 170px;
}

.footerContacts {
  width: 30%;
  padding: 45px;
}
.footerLogo {
  padding: 5px;
}
.fone {
  padding: 5px;
}
.site {
  padding: 5px;
}
.footerMap {
  width: 70%;
  height: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 45px 50px 0 0;
}
.footerMap li {
  padding: 5px 10px 10px 10px;
}
.line {
  height: 1px;
  width: 94%;
  margin-left: 3%;
  background-color: #fff;
}
.footerInfo div {
  width: 100%;
  height: 50px;
  padding: 20px 10px 0px 50px;
}
