.footerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerContainer {
  flex-direction: column;
  height: 600px;
  color: #fff;
  background: #4985ff;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  box-sizing: border-box;
}
.footerImgContainer {
  width: 100%;
  min-height: 200px;
  padding-left: 10%;
  background-color: #fff;
  overflow: hidden;
}
.footerImg {
  width: 90%;
}

.footerText {
  display: flex;
  flex-direction: row;
  height: 170px;
}

.footerContacts {
  width: 30%;
  padding: 2% 5%;
}
.footerLogo {
  padding: 0.5%;
}
.fone {
  padding: 5px;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 2em;
}
.site {
  padding: 0.5%;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.75em;
}
.footerMap {
  width: 70%;
  height: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 3% 4% 0 0;
  font-weight: 900;
  font-size: 1.1em;
  line-height: 1.3em;
}
.footerMap li {
  padding: 1% 2% 1% 2%;
}
.footerMap ul {
  padding-top: 1%;
}
.line {
  height: 1px;
  width: 94%;
  margin: 1% 3% 0 3%;
  background-color: #fff;
}
.footerInfo div {
  width: 100%;
  /* height: 50px; */
  padding: 2% 1% 0px 4%;
  font-weight: normal;
  font-size: 1.125em;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 1140px) {
  .footerText {
    flex-direction: row;
    justify-content: space-around;
    height: 80px;
    padding-top: 5%;
  }
  .footerContacts {
    width: 100%;
  }
  .fone,
  .site {
    font-size: 1em;
  }
  .line {
    display: none;
  }
  .footerInfo {
    width: 100%;
    /* height: 50px; */
    padding: 10% 5px 10px 5px;
  }
  .footerInfo div {
    margin-top: 20px;
  }
}

@media screen and (max-width: 500px) {
  .footerContainer {
    height: 800px;
  }
  .footerText {
    flex-direction: column;
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
  }
  .footerContacts {
    width: 100%;
  }
  .fone,
  .site {
    font-size: 1em;
  }
  .footerMap {
    padding-top: 0;
    display: flex;
    flex-direction: row;
  }
  .footerMap ul > li {
    padding: 5px 10px;
  }

  .footerImgContainer {
    height: 90px;
  }
  .footerInfo {
    width: 90%;
    padding: 30% 1% 1% 1%;
  }
  .footerInfo div {
    height: 90px;
    padding: 10px 5px;
    margin: 15px 5px;
  }
}
