@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

.footerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerContainer {
  flex-direction: column;
  height: 600px;
  color: #fff;
  background: #4985ff;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  box-sizing: border-box;
}
.footerImgContainer {
  width: 100%;
  height: 200px;
  padding-left: 10%;
  background-color: #fff;
  overflow: hidden;
}
.footerImg {
  width: 90%;
}
.footerText {
  display: flex;
  flex-direction: row;
  height: 170px;
}

.footerContacts {
  width: 30%;
  padding: 2% 5%;
}
.footerLogo {
  padding: 0.5%;
}
.fone {
  padding: 5px;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 2em;
}
.site {
  padding: 0.5%;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.75em;
}
.footerMap {
  width: 70%;
  height: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 3% 4% 0 0;
  font-weight: 900;
  font-size: 1.1em;
  line-height: 1.3em;
}
.footerMap li {
  padding: 1% 2% 1% 2%;
}
.footerMap ul {
  padding-top: 1%;
}
.line {
  height: 1px;
  width: 94%;
  margin: 1% 3% 0 3%;
  background-color: #fff;
}
.footerInfo div {
  width: 100%;
  height: 50px;
  padding: 2% 1% 0px 4%;
}

.mobFooterNav {
  display: none;
}

/* @media screen and (max-width: 500px) {
  .footerText {
    flex-direction: column;
  }
  .footerContacts {
    width: 100%;
  }
  .footerMap {
    padding-top: 0;
  }
  .footerImgContainer {
    height: 50px;
  }
  .footerInfo div {
    height: 100px;
    width: 90%;
    padding: 50% 1% 1% 1%;
  }
} */

@media screen and (max-width: 500px) {

  .footerContainer {
    display: none;
  }


  .footerWrapper {
    margin-top: auto
  }
  .mobFooterNav {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;

    height: 3em;
    min-width: 100%;
    color: #fff;
    background: #4985ff;

    position: fixed;
    left: 0;
    bottom: 0;
  }

  .mobFooterNavUl {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobFooterNavUl li {
    list-style: none;
    padding: 1em;

    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    line-height: 134.09%;
    color: #fff;
  }

}

