* {
  box-sizing: border-box;
}
.loginFone {
}

.loginWrapper {
  width: 40%;
  position: absolute;
  top: 120px;
  left: 30%;
  background-color: rgba(255, 255, 255, 0.3);
  background-size: cover;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
}

.loginContainer h3 {
  text-align: center;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 1.5em;
}

.loginContainer label {
  display: block;
  padding-left: 15px;
  font-family: "Raleway", sans-serif;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1em;
}
.loginContainer input,
button {
  display: block;
  position: relative;
  width: 70%;
  left: 15%;
  padding: 0 15px;
  margin: 5px 0 10px 0;
  border-width: 0;
  line-height: 40px;
  border-radius: 20px;
  color: rgba(61, 57, 57, 0.897);
  background: rgba(255, 255, 255, 0.5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}
.loginContainer input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
#custom-checkbox + label,
#policy-checkbox + label {
  position: relative;
  margin: 10px 0;
  text-transform: none;
  cursor: pointer;
}
#custom-checkbox + label:before,
#policy-checkbox + label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: text-top;
  background: white;
}
#custom-checkbox:checked + label:before,
#policy-checkbox:checked + label:before {
  background: #1762ee;
}
#custom-checkbox:checked + label:after,
#policy-checkbox:checked + label:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 1px;
  left: 20px;
  top: 9px;
  background: white;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
    4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}

.loginContainer input[type="submit"] {
  background: #1762ee;
}

.btn {
  display: inline;
  position: relative;
  width: 33%;
  left: 15%;
  margin: 0 20px 20px 0;
  font-size: 1.2em;
}

.errorMessage {
  color: red;
}
.socialIconBtn {
  width: 70%;
  position: relative;
  left: 15%;
}
