.loginContainer {
  flex-direction: column;
  height: 650px;
  width: 468px;
  background: #ffffff;
  background-image: url("../img/authorizationImg.svg");
  box-shadow: 2px 2px 20px #ebebeb;
  border-radius: 12px;
  position: absolute;
  left: 40%;
  z-index: 3;
}
.loginTitle {
  font-size: 24px;
  font-weight: normal;
  line-height: 134.09%;
  color: #8d8e8d;
  padding: 40px;
}
.loginEmail,
.loginPassword {
  display: flex;
  flex-direction: column;
  margin: 5% 10%;
}
.loginPassword {
  margin-top: 0;
}
.loginEmail input,
.loginPassword input {
  height: 30px;
  border: 0.5px solid #cacaca;
  box-shadow: 2px 4px 20px #e9e9e9;
  border-radius: 2px;
}
.errorMessage {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #f56462;
}
.newPassword {
  background: transparent;
  border: 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #4985ff;
  text-align: left;
}
.btn {
  height: 34px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 5%;
  background: #4985ff;
  border: 0.5px solid #cccccc;
  box-shadow: 2px 4px 6px rgba(79, 79, 79, 0.15);
  border-radius: 12px;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  cursor: pointer;
}
.loginRegText {
  font-weight: 500;
  font-size: 12px;
  line-height: 134.09%;
  color: #707070;
  text-align: center;
  padding-top: 10%;
}
.closeBtn {
  position: relative;
  left: 90%;
  margin-top: 5%;
  cursor: pointer;
  border: 0;
  background-color: #fff;
  /* background: #cacaca; */
}
