.mobileGreyLine,
.navBarHeaderMobile,
.navBarMenuMobile,
.searchStrMobile,
.checkBoxMobile,
.addResumeMobile {display: none;}


.navBarHeader {
  height: 100px;
  border-left: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-left: 10%;
  background-color: #fff;
  z-index: 3;
}

.navBarLogo img {
  padding-left: 30px;
}

.navBarHeader .navBarMenu ul {
  display: flex;
  list-style: none;
}

.navBarHeader .navBarMenu ul li {
  margin: 20px 20px;
}
.navBarHeader .navBarMenuul li img {
  margin: -10px 2px 0 0;
}

.navBarHeader .navBarMenu ul a {
  text-decoration: none;
  font-weight: normal;
  color: #000;
}
@media screen and (max-width: 900px) {
  .navBarMenu ul li span {
    margin: auto;
  }
}
/* Old version */
/* @media screen and (max-width: 500px) {
  .navBarHeader {
    flex-direction: column;
    height: 225px;
  }
  .navBarHeader .navBarMenu ul {
    flex-direction: column;
    justify-content: left;
    align-self: center;
  }
  .navBarHeader .navBarMenu ul li {
    margin: 5px;
  }
} */


/* Mobile version style */
@media screen and (max-width: 500px) {

  .navBarLogo, .navBarHeader{
    display: none;
  }


  /* Header */
  .mobileGreyLine {
    display: inline-block;
    width: 100%;
    height: 44px;
    background: rgba(196, 196, 196, 0.2);
  }

  .navBurgerMobile {
    width: 16%;
  }
  .navBarLogoMobile {
    width: 65%;
    text-align: center;
  }
  .navRightMob {
    width: 15%;
  }

  .navBarHeaderMobile {
    display: flex;
    margin: .5em 1.5em 1.7em;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
  }

  .navBarLogoMobile img {
    width: 73%;
  }

  .navRightMob {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
  }

  .avatarImgMob {
    margin-left: .5em;
  }



  /* String Menu  */
  .navBarMenuMobile {
      display: flex;
      justify-content: center;
  }

  .menuItemMobile {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5px;
    border-bottom: 1px solid #C4C4C4;
  }

  .menuItemMobile li {
    text-align: center;
    list-style: none;
    text-decoration: none!important;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 134.09%;
    font-family: Roboto;
    color: #828080;
  }

  .menuItemMobile li a {
    text-decoration: none;
    color: #828080;
  }

  .menuItemMobile li a:hover {
    color: #282A3D;
    padding-bottom: 5px;
    border-bottom: 3px solid #4985FF;
  }




/* String search  */
  .searchStrMobile {
    display: block;
    margin: 17px auto 16px;
    position: relative;
  }

  .formSearchMobile {
    width: 88%;
    margin: 0 auto;
  }
  .inputSearchMobile {
    width: 100%;
    height: 30px;
    background: #FFFFFF;
    border: 0.2px solid #707070;
    filter: drop-shadow(2px 4px 5px #CCCCCC);
    border-radius: 2px;
    padding-left: 19px;

    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 134.09%;
    color: #CACACA;
  }
  .buttonSearchMobile {
    display: block;
    height: 18px;
    width: 18px;
    position: absolute;
    top: 6px;
    right: 38px;
    background: #FFFFFF;
    border: none;
  }


  /* Checkbox and resume */

  .checkBoxMobile {
    display: flex;
    width: 88%;
    margin: 16px auto 0px;
    align-content: center;
    justify-content: space-between;
    align-items: center;
  }
  .textNotificationMobile {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 134.09%;
    color: #707070;
  }

  .addResumeMobile {
    display: block;
    width: 88%;
    margin: auto;
  }


  .addResumeMobileLink {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 134.09%;

    text-decoration-line: underline;

    color: #4985FF;
}

}
