.navBarHeader {
  height: 100px;
  font-family: "Raleway", sans-serif;
  border-left: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 3;
}

.navBarLogo img {
  padding-left: 30px;
}

.navBarHeader .navBarMenu ul {
  display: flex;
  list-style: none;
}

.navBarHeader .navBarMenu ul li {
  margin: 20px 20px;
}
.navBarHeader .navBarMenuul li img {
  margin: -10px 2px 0 0;
}

.navBarHeader .navBarMenu ul a {
  text-decoration: none;
  font-weight: normal;
  color: #000;
}
@media screen and (max-width: 900px) {
  .navBarMenu ul li span {
    margin: auto;
  }
}

@media screen and (max-width: 500px) {
  .navBarHeader {
    flex-direction: column;
  }
  .navBarHeader .navBarMenu ul {
    flex-direction: column;
    justify-content: left;
    align-self: center;
  }
  .navBarHeader .navBarMenu ul li {
    margin: 5px;
  }
}
