* {
  margin: 0;
  padding: 0;
}
.header {
  width: 70%;
  height: 100px;
  font-family: "Raleway", sans-serif;
  border: 2px solid #ccc;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 15%;
  background-color: #fff;
  z-index: 3;
}

.logo img {
  padding-left: 30px;
}

.header .menu ul {
  display: flex;
  list-style: none;
}

.header .menu ul li {
  margin: 20px 20px;
}
.header .menu ul li img {
  margin: -10px 2px 0 0;
}

.header .menu ul a {
  text-decoration: none;
  font-weight: normal;
  color: #000;
}
@media screen and (max-width: 900px) {
  .menu ul li span {
    margin: auto;
  }
}

@media screen and (max-width: 500px) {
  .header {
    flex-direction: column;
  }
  .header .menu ul {
    flex-direction: column;
    justify-content: left;
    align-self: center;
  }
  .header .menu ul li {
    margin: 5px;
  }
}
