.traineeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.traineeContainer {
  flex-direction: column;
  align-items: center;
  height: 1024px;
  color: #4985ff;
  background: #fff;
  box-sizing: border-box;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}
.traineeTitle {
  font-size: 2.25em;
  padding: 90px 0 35px 70px;
}
.traineeCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  margin: 5px 5px 5px 5px;
}
.allTrainee {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 170px;
  font-weight: 600;
  font-size: 1.25em;
  color: #4985ff;
  padding-top: 50px;
}
@media screen and (max-width: 500px) {
  .traineeTitle {
    padding: 5px;
    font-size: 1.5em;
  }
}
