.traineeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.traineeContainer {
  width: 70%;
  left: 15%;
  height: 1024px;
  color: #8d8e8d;
  background: #e5e5e5;
  /* border: 1px solid black; */
  box-sizing: border-box;
}
.traineeTitle {
  font-size: 36px;
  padding: 90px 0 35px 155px;
}
.traineeCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 7px 7px 7px 8px;
}
