.traineeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.traineeContainer {
  flex-direction: column;
  height: 1024px;
  color: #4985ff;
  background: #fff;
  box-sizing: border-box;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}
.traineeTitle {
  font-size: 36px;
  padding: 90px 0 35px 70px;
}
.traineeCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  margin: 5px 5px 5px 5px;
}
