.vacanciesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vacanciesBody {
  width: 70%;
  left: 15%;
  height: 1024px;
  color: #ffffff;
  background: #4985ff;
  border: 1px solid black;
  box-sizing: border-box;
}
.vacanciesTitle {
  font-size: 36px;
  padding: 100px 0 35px 155px;
}
.vacanciesCard {
  padding: 5px 5px 5px 50px;
}
