.vacanciesCardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  height: 165px;
  width: 100%;
  background: #f7f7f7;
  border-radius: 12px;
  padding: 20px;
  margin: 20px;
}
.vacanciesCardLogo img {
  width: 90%;
  padding: 0 5px;
}
.vacanciesCardText {
  display: flex;
  flex-direction: column;
  line-height: 100%;
  border-radius: 12px;
  font-weight: 600;
  font-size: 1.5rem;
  color: #4985ff;
}
.vacanciesCardTitle {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 134.09%;
  color: #4985ff;
  padding-bottom: 5px;
}
.vacanciesCardBottom {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 134.09%;
  color: #4985ff;
  padding-top: 10px;
}
.vacanciesCardPrice {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 134.09%;
  text-align: right;
  color: #8d8e8d;
}
.vacanciesCardStatus {
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 134.09%;
  color: #f56462;
}
.vacanciesCardPrice button {
  width: 155px;
  height: 35px;
  background: #ffffff;
  border: 1px solid #4985ff;
  box-sizing: border-box;
  border-radius: 12px;
  font-weight: normal;
  font-size: 1rem;
  line-height: 134.09%;
  text-align: center;
  color: #4985ff;
  margin-top: 25px;
  margin-right: 20px;
}
@media screen and (max-width: 580px) {
  .vacanciesCardContainer {
    height: 150px;
  }
  .vacanciesCardText {
    font-size: 1rem;
  }
  .vacanciesCardPrice button {
    width: 100px;
    height: 25px;
  }
}
@media screen and (max-width: 430px) {
  .vacanciesCardContainer {
    height: 220px;
  }
}
