.vacanciesWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vacanciesContainer {
  flex-direction: column;
  height: 1024px;
  color: #ffffff;
  background: #4985ff;
  box-sizing: border-box;
  align-items: center;
}
.vacanciesTitle {
  font-size: 36px;
  padding: 90px 0 35px 70px;
}
.vacanciesCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  margin: 5px 5px 5px 5px;
}
.allVacancies {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  padding-top: 50px;
}
