@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Raleway:wght@400;600&display=swap');

.vacanciesMobile,
.vacanciesWrapperMobile {display: none;}

.vacanciesCardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  height: 165px;
  width: 100%;
  background: #f7f7f7;
  border-radius: 12px;
  padding: 20px;
  margin: 20px;
}
.vacanciesCardLogo img {
  padding: 0 5px;
}
.vacanciesCardText {
  display: flex;
  flex-direction: column;
  line-height: 100%;
  border-radius: 12px;
  font-weight: 600;
  font-size: 1.5em;
  color: #4985ff;
}
.vacanciesCardTitle {
  font-weight: normal;
  font-size: 1.125em;
  line-height: 134.09%;
  color: #4985ff;
  padding-bottom: 5px;
}
.vacanciesCardBottom {
  font-weight: normal;
  font-size: 1.125em;
  line-height: 134.09%;
  color: #4985ff;
  padding-top: 10px;
}
.vacanciesCardPrice {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 134.09%;
  text-align: right;
  color: #8d8e8d;
}
.vacanciesCardStatus {
  font-weight: normal;
  font-size: 0.875em;
  line-height: 134.09%;
  color: #f56462;
}
.vacanciesCardPrice button {
  width: 155px;
  height: 35px;
  background: #ffffff;
  border: 1px solid #4985ff;
  box-sizing: border-box;
  border-radius: 12px;
  font-weight: normal;
  font-size: 1em;
  line-height: 134.09%;
  text-align: center;
  color: #4985ff;
  margin-top: 25px;
  margin-right: 20px;
}
/* @media screen and (max-width: 500px) {
  .vacanciesCardContainer {
    height: 385px;
  }
} */


@media screen and (max-width: 500px) {
  .vacanciesDesktop,
  .vacanciesWrapperDesktop,
  button {display: none;}

  .vacanciesMobile {
    display: block;
  }

  .vacanciesWrapperMobile {
    display: flex;
  }

  .vacanciesCardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    height: 102px;
    width: 100%;
    background: #f7f7f7;
    border-radius: 12px;
    padding: 10px;
    margin: 7px 24px;
    filter: drop-shadow(2px 4px 5px #CCCCCC);
  }

  .vacanciesCardContainer div {
    display: inline-block;
    height: fit-content;
    position: relative;
  }

  .vacanciesCardLogo img {
      width: 40px;
      height: 40px;
    }

  .vacanciesCardTitle {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 134.09%;
    color: #4985FF;
    position: absolute;
    top: 2px;
    right: -10px;
  }

  .nameVacancies,
  .lavelWorker {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #4985FF;
  }

  .nameVacancies {
    position: absolute;
    top: 20px;
    right: 55px;
  }

  .lavelWorker {
    position: absolute;
    top: -7px;
    right: -50px;
  }

  .markerVacanciesMobile {
    position: absolute;
    top: -40px;
    right: -120px;
  }

  .vacanciesCardBottom {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 134.09%;
    color: #707070;

    position: absolute;
    top: 3px;
    right: 130px;
  }
  .vacanciesPrice {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 134.09%;
    text-align: right;
    color: #707070;

    position: absolute;
    top: -16px;
    right: -148px;
  }
  .vacanciesCardStatus {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 134.09%;

    color: #707070;

    position: absolute;
    top: -19px;
    right: -169px;
  }

}
