.vacanciesWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vacanciesContainer {
  width: 70%;
  left: 15%;
  height: 1024px;
  color: #ffffff;
  background: #4985ff;
  /* border: 1px solid black; */
  box-sizing: border-box;
}
.vacanciesTitle {
  font-size: 36px;
  padding: 90px 0 35px 155px;
}
.vacanciesCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 7px 7px 7px 8px;
}
