.lineReg {
  height: 1px;
  width: 40%;
  background-color: #e9e9e9;
  border: 2px solid #e9e9e9;
  margin: 5% 0 5% 0;
}
.lineText {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin: 0 2% 0 2%;
  color: #c4c4c4;
}
.lineContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.backToLogin {
  font-weight: 500;
  font-size: 12px;
  line-height: 134.09%;
  color: #707070;
  margin-left: 30%;
}
.backToLogin button {
  border: 0;
  color: #4985ff;
  background-color: #fff;
}
.regSocialIcons {
  margin-left: 2%;
}
.CheckboxRegBtn {
  margin-top: 10%;
  margin-left: 2%;
}
.CheckboxRegBtn label {
  font-weight: 500;
  font-size: 0.75em;
  line-height: 134.09%;
  color: #707070;
  margin-top: 10%;
}
.regBtn {
  height: 34px;
  width: 384px;
  margin: 2% 0 5% 2%;
  background: #4985ff;
  border: 0.5px solid #cccccc;
  box-shadow: 2px 4px 6px rgba(79, 79, 79, 0.15);
  border-radius: 12px;
  font-weight: normal;
  font-size: 0.9em;
  line-height: 1.1em;
  color: #ffffff;
  cursor: pointer;
}
.docsBtn {
  border: 0;
  background-color: #fff;
  color: #4985ff;
  margin: 0 1% 0 1%;
}
.regBtn:hover {
  background-color: #00aacc;
}

button:disabled {
  background-color: #999999;
}
