.eventWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.eventContainer {
  width: 70%;
  left: 15%;
  height: 1024px;
  color: #ffffff;
  background: #4985ff;
  border: 1px solid black;
  box-sizing: border-box;
}
.eventTitle {
  font-size: 36px;
  padding: 90px 0 35px 155px;
}
